@model AutiCare.Models.Diagnostico

@{
    ViewData["Title"] = "Sobre o Paciente";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Diagnostico">
            <div class="form-group">
                <label class="control-label">Idade:</label>
                <input class="form-control" type="text" asp-for="Idade" />
            </div>

            <div class="form-group">
                <label class="control-label">Sexo:</label>
                <select class="form-control" name="Sexo" id="Sexo">
                    <option value="0">F</option>
                    <option value="1">M</option>
                </select>
            </div>

            <div class="form-group">
                <label class="control-label">Etnia:</label>
                <select class="form-control" name="Etnia" id="Etnia">
                    <option value="0">Branco</option>
                    <option value="1">Negro</option>
                    <option value="2">Indígena</option>
                    <option value="3">Pardo</option>
                </select>
            </div>

            <div class="form-group">
                <label class="control-label">Ictericia:</label>
                <select class="form-control" name="Ictericia" id="Ictericia">
                    <option value="true">SIM</option>
                    <option value="false">NÃO</option>
                </select>
            </div>

            <div class="form-group">
                <label class="control-label">Familiar PDD?:</label>
                <select class="form-control" name="Familia" id="Familia">
                    <option value="true">SIM</option>
                    <option value="false">NÃO</option>
                </select>
            </div>

            <div class="form-group">
                <label class="control-label">Quem é voce?:</label>
                <select class="form-control" name="User" id="User">
                    <option value="0">MÃE</option>
                    <option value="1">PAI</option>
                    <option value="2">MEDICO</option>
                </select>
            </div>

            <div class="form-group">
                <label class="control-label">Seu filho olha pra vc quando chama o nome dele?:</label>
                <select class="form-control" name="Pergunta_1" id="Pergunta_1">
                    <option value="true">SIM</option>
                    <option value="false">NÃO</option>
                </select>
            </div>

            <div class="form-group">
                <label class="control-label">É fácil manter contato visual?:</label>
                <select class="form-control" name="Pergunta_2" id="Pergunta_2">
                    <option value="true">SIM</option>
                    <option value="false">NÃO</option>
                </select>
            </div>

            <div class="form-group">
                <label class="control-label">Quando a criança quer algo, costuma apontar com o dedo?:</label>
                <select class="form-control" name="Pergunta_3" id="Pergunta_3">
                    <option value="true">SIM</option>
                    <option value="false">NÃO</option>
                </select>
            </div>

            <div class="form-group">
                <label class="control-label">Compartilha interesses com vc? Ex: apontando para um brinquedo que achou legal:</label>
                <select class="form-control" name="Pergunta_4" id="Pergunta_4">
                    <option value="true">SIM</option>
                    <option value="false">NÃO</option>
                </select>
            </div>

            <div class="form-group">
                <label class="control-label">A criança costuma fingir? Ex: fingir que esta brincando com o telefone ou fingir que é medico na brincadeira.</label>
                <select class="form-control" name="Pergunta_5" id="Pergunta_5">
                    <option value="true">SIM</option>
                    <option value="false">NÃO</option>
                </select>
            </div>

            <div class="form-group">
                <label class="control-label">Quando vc olha para alguma coisa, a criança acompanha seu olhar?</label>
                <select class="form-control" name="Pergunta_6" id="Pergunta_6">
                    <option value="true">SIM</option>
                    <option value="false">NÃO</option>
                </select>
            </div>

            <div class="form-group">
                <label class="control-label">Se você esta triste a criança costuma lhe confortar? Ex: Te abraçar.</label>
                <select class="form-control" name="Pergunta_7" id="Pergunta_7">
                    <option value="true">SIM</option>
                    <option value="false">NÃO</option>
                </select>
            </div>

            <div class="form-group">
                <label class="control-label">A criança usa gestos simples: Ex: Acenar para dar tchau.</label>
                <select class="form-control" name="Pergunta_8" id="Pergunta_8">
                    <option value="true">SIM</option>
                    <option value="false">NÃO</option>
                </select>
            </div>

            <div class="form-group">
                <label class="control-label">A criança fica muito distraída?</label>
                <select class="form-control" name="Pergunta_9" id="Pergunta_9">
                    <option value="true">SIM</option>
                    <option value="false">NÃO</option>
                </select>
            </div>

            <div class="form-group">
                <label class="control-label">A criança costuma falar frases que vc considera incomum?</label>
                <select class="form-control" name="Pergunta_10" id="Pergunta_10">
                    <option value="true">SIM</option>
                    <option value="false">NÃO</option>
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="GERAR DIAGNOSTICO" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

