@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">AutiCare</h1>
</div>

<div><label>Nome: <input type="text" id="Nome" name="Nome" /></label></div>
<div><label>Data de Nascimento: <input type="text" id="DataNascimento" name="DataNascimento" /></label></div>
<div>

    Sexo:
    <select name="sexo" id="sexo">
        <option value="feminino">F</option>
        <option value="masculino">M</option>
        <option value="nao">Não quero informar</option>

    </select>
</div>



