@{
    ViewData["Title"] = "Sobre o Paciente";
}
<h1>@ViewData["Title"]</h1>


<div><label>Idade: <input type="text" id="Idade" name="Idade" /></label></div>

<div> Sexo: <select name="sexo" id="sexo">
        <option value="feminino">F</option>
        <option value="masculino">M</option>
    </select>
</div>
<div> Etnia: <select name="etnia" id="etnia">
        <option value="branco">branco</option>
        <option value="negro">negro</option>
        <option value="indigena">indigena</option>
        <option value="pardo">pardo</option>
    </select>
</div>
<div>Ictericia: <select name="ictericia" id="ictericia">
        <option value="S">SIM</option>
        <option value="N">NÃO</option>
        </select>
</div>
<div>Familiar PDD?: <select name="familia" id="familia">
        <option value="S">SIM</option>
        <option value="N">NÃO</option>
        </select>
</div>
<div>Quem é voce?: <select name="user" id="user">
        <option value="mae">MÃE</option>
        <option value="pai">PAI</option>
        <option value="pai">MEDICO</option>
        </select>
</div>

<div>Seu filho olha pra vc quando chama o nome dele?: <select name="pergunta_1" id="pergunta_1">
        <option value="S">SIM</option>
        <option value="N">NÃO</option>
        </select>
</div>
<div>É fácil manter contato visual ?: <select name="pergunta_2" id="pergunta_2">
        <option value="S">SIM</option>
        <option value="N">NÃO</option>
        </select>
</div>
<div>Quando a criança quer algo, costuma apontar com o dedo?: <select name="pergunta_3" id="pergunta_3">
        <option value="S">SIM</option>
        <option value="N">NÃO</option>
        </select>
</div>
<div>Compartilha interesses com vc? Ex: apontando para um brinquedo que achou legal: <select name="pergunta_4" id="pergunta_4">
        <option value="S">SIM</option>
        <option value="N">NÃO</option>
        </select>
</div>
<div>A criança costuma fingir? Ex: fingir que esta brincando com o telefone ou fingir que é medico na brincadeira. <select name="pergunta_5" id="pergunta_5">
        <option value="S">SIM</option>
        <option value="N">NÃO</option>
        </select>
</div>
<div>Quando vc olha para alguma coisa, a criança acompanha seu olhar? <select name="pergunta_6" id="pergunta_6">
        <option value="S">SIM</option>
        <option value="N">NÃO</option>
        </select>
</div>
<div>Se você esta triste a criança costuma lhe confortar? Ex: Te abraçar. <select name="pergunta_7" id="pergunta_7">
        <option value="S">SIM</option>
        <option value="N">NÃO</option>
        </select>
</div>
<div>A criança usa gestos simples: Ex: Acenar para dar tchau. <select name="pergunta_8" id="pergunta_8">
        <option value="S">SIM</option>
        <option value="N">NÃO</option>
        </select>
</div>
<div>A criança fica muito distraída? <select name="pergunta_9" id="pergunta_9">
        <option value="S">SIM</option>
        <option value="N">NÃO</option>
        </select>
</div>
<div>A criança costuma falar frases que vc considera incomum? <select name="pergunta_10" id="pergunta_10">
        <option value="S">SIM</option>
        <option value="N">NÃO</option>
        </select>
</div>



